#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick-tap-ms = <200>; };

&mt { quick-tap-ms = <200>; };

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC         &kp Q  &kp W  &kp F    &kp P      &kp G      &kp J          &kp L  &kp U      &kp Y    &kp SEMICOLON  &mt RIGHT_BRACKET LEFT_BRACKET
&kp LEFT_SHIFT  &kp A  &kp R  &kp S    &kp T      &kp D      &kp H          &kp N  &kp E      &kp I    &kp O          &kp SQT
&kp LCTRL       &kp Z  &kp X  &kp C    &kp V      &kp B      &kp K          &kp M  &kp COMMA  &kp DOT  &kp FSLH       &kp BACKSLASH
                              &kp TAB  &kp SPACE  &kp ENTER  &kp BACKSPACE  &to 1  &to 2
            >;
        };

        number_layer {
            bindings = <
&mt LGUI F1  &kp F2    &kp F3  &kp F4    &kp F5    &kp F6     &kp F7     &kp F8    &kp F9    &kp F10   &kp F11   &kp F12
&trans       &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT  &kp CARET  &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR  &mt RCTRL MINUS
&trans       &kp N1    &kp N2  &kp N3    &kp N4    &kp N5     &kp N6     &kp N7    &kp N8    &kp N9    &kp N0    &kp RALT
                               &trans    &trans    &trans     &trans     &trans    &trans
            >;
        };

        game_layer {
            bindings = <
&kp ESC  &kp Q   &trans  &kp W    &trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans   &trans  &kp A   &kp S    &kp D      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans   &trans  &trans  &trans   &trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans
                         &kp TAB  &kp SPACE  &kp F3  &trans  &trans  &trans
            >;
        };
    };
};
